@use "./nav/navbar";
@use "./auth/signin";
@use "./auth//resetpwd";
@use "./home/home";
@use "./products/products";
@use "./products/product";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 19px;
}


body{
    
    font-family: "Kanit", serif;
    font-weight: 200;
    font-style: normal;
 
    // height: 1500px;
    
}

.error-message {
    color: #ff0000;
    display: block;
    font-weight: 300;
    padding: 0 12px;
    text-align: center;
    margin-bottom: 12px;
}

.ok-message {
    color: #008925;
    display: block;
    padding: 0 12px;
    text-align: center;
}

.validation-message {
    display: block;
    font-size: 13px;
    padding: 0 12px;
    text-align: center;

}


.no-error-message {
    display: none;
}

.no-validation-message {
    display: none;
}

.no-ok-message {
    display: none;
}

