.pagination-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    p{
        font-size: 16px;
        font-weight: 300;
        padding: 0 16px;

    }

    .pagination-btn-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        .pgn-action-btn{
            background: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0 16px;
            color: #f2d91c;
            
            svg{
                font-size: 26px;
            }
        }

        .pgn-index-btn{
            background: transparent;
            border-style: none;
            cursor: pointer;
            padding: 0 8px;
            font-size: 22px;

        }
    }
}