.Products-main {
    padding-top: 70px;
   

        .search-word{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: #efdd54;  
            padding: 16px 12px;
        
            h1, .searched{
                font-size: 19px;
                font-weight: 500;
                text-align: center;
                color: #090e20;
            }
            
            .searched{
                color: #c42424;
                margin: 0 0 0 8px;
        }

    }
    
    .products-container {
        // padding-top: 27px;

        .products-toolbar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 36px 12px 0;

            h2{
                font-size: 19px;
                color: #090e20;
                font-weight: 500;
            }

            button{
                width: 100px;
                padding: 10px 0;
                border-style: none;
                background-color: #efdd54;
                cursor: pointer;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #090e20;
                font-weight: 500;

                svg{
                    margin: 0 10px 0 0;
                }
               
            }
        }
        
        .product-wrapper {
            display: flex;        
            position: relative;    
            height: 300px;
            border-bottom: 1px solid #b8b8b8;
            background-color: #f4f4f4;
            margin-top: 24px;
            
            a {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                text-decoration: none;
                color: #000;
                
                .product-img-wrapper {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .product-img {
                    width: 145px;
                    padding-left: 12px;
                    padding-right: 12px;

                    img {
                        width: 100%;
                    }
                }

            }

            .product-details {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                
                #title {
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 12px;
                }
                
                #price {
                    font-size: 34px;
                    font-weight: 600;
                    color: #c42424;
                }
                
            }
        }

        .admin-actions-btn{

            position: absolute;
            top: 98%;
            right: 0;

            transform: translateY(-98%);

            
            button{

                border: none;
                background: none;
                
            }
            
            svg{
                margin-right: 34px;
                font-size: 30px;
            }
        }
    }

    }
}

@media screen and (min-width: 768px){
    .Products-main {
        h1{
           
            font-size: 24px;
          
        }
        
        .products-container {
            display: flex;
            flex-wrap: wrap;

            .products-toolbar{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 28px 12px 12px;
                // background-color: #f9f9f9;  

                h2{
                    font-size: 19px;
                    color: #090e20;
                    font-weight: 500;
                }

                button{
                    width: 100px;
                    padding: 10px 0;
                    border-style: none;
                    background-color: #efdd54;
                    cursor: pointer;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #090e20;
                    font-weight: 500;

                    svg{
                        margin: 0 10px 0 0;
                    }
                   
                }
            }

            
            .product-wrapper {
                width: calc(100% / 4 - 4px);
                flex-wrap: wrap;
                flex-direction: column;
                transition: transform 0.3s ease;
                height: 500px;
                margin: 12px 2px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .product-img-wrapper {
                        width: 100%;
                        height: 390px;
                        
                        .product-img {
                            width: 190px;
                           
                            img {
                                width: 100%;
                            }
                        }
                    }
                    
                    .product-details {
                        width: 100%;
                        padding: 0 24px;
                        
                        #title {
                            font-size: 22px;
                    
                        }
                        
                        #price {
                            font-size: 28px;
                          
                        }
                        
                    }
                }
                
                .admin-actions-btn{
                    position: absolute;
                    top: 5%;
                    transform: translateY(-5%);
                    cursor: pointer;
                    
                    svg{
                        margin-right: 28px;
                        font-size: 24px;
                    }
                }

                &:hover {
                    transform: translateY(-8px);
                  }
                
                }
    
        }
    }
}