.home-main{
    width: 100%;
    height: 100vh;
    position: relative;

    .hero-video{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            // object-position: 100% 50%;
            object-fit: cover;
            // object-fit: cover;
            // transform: scale(1.9);
        }
    }    

    .Products-main{
            
        .home-categories-container{
            padding: 26px;
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            scroll-behavior: smooth;


            .home-categories{
                border: 1px solid #efdd54;
                border-radius: 5px;
                margin: 0 13px 0 13px;
                flex: 0 0 auto; 

                border-radius: 10px;
                
                p{
                    padding: 13px;
                    cursor: pointer;   
                    a{
                        text-decoration: none;
                        color: #000;
                        font-weight: 400;
                        font-size: 19px;
                    }
                }
            }
        }
    }

        
       .fav-products{
        font-size: 44px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        padding: 34px;
       }


       .more-section{
        display: flex;
        height: 100vh;
        background-color: #efdd54;
        

        .caption-img{      
            display: none;
        
        }
        
        .about-sound{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 60px;
            
            .SOUND1{
                font-size: 34px;
            }
            
            p{
                margin: 50px 0;
            }
            
            button{

                background-color: #ffffff;
                border: none;
                padding: 12px 24px;
                cursor: pointer;
                
                
                a{
                    text-align: center;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
       }
    
}


@media screen and (min-width: 768px) {
    .home-main{   
        
        .Products-main{
            
            .home-categories-container{
                padding: 26px;
                display: flex;
                justify-content: center;


                .home-categories{
                    border: 1px solid #efdd54;
                    border-radius: 5px;
                    margin: 0 0 0 26px;
                    
                    p{
                        padding: 13px;
                        cursor: pointer;   
                        a{
                            text-decoration: none;
                            color: #000;
                            font-weight: 400;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
           .more-section{
            .caption-img{
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                display: block;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .about-sound{
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 60px;
                
            }
           }
        
    }
}