.profile-container {
    padding: 70px 20px 70px;

    h1 {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .profile-actions {
        width: 100%;

        .welcome {
            padding: 28px 0;
            border-bottom: 1px solid #f5f4ed;

            p {
                font-size: 18px;
                font-weight: 300;
            }
        }

        .action-btns {
            padding-top: 28px;

            p {
                margin-bottom: 18px;

                svg {
                    font-size: 18px;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    border-bottom: 1px solid transparent;
                    font-weight: 300;

                    &:hover {
                        border-bottom: 1px solid #efdd54;
                        ;
                    }
                }
            }
        }

        .signout-btn-container {
            margin-top: 58px;
        }
    }

    .user-info-container {
        padding: 19px 0 0;
        width: 100%;

        .user-info-empty, .show-errors-wrapper{
            padding: 12px 0;
            background-color: #f6f6f6;
            margin: 0 0 6px;
            
             p{
                
                color: #ff0000;
                font-size: 19px;
           

                svg {
                    margin-right: 6px;
                    font-size: 20px;
                }
             }
        }

        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;


            label {
                padding: 10px 0;
                font-weight: 300;

                span {
                    color: #ff0000;
                }
            }

            input {
                padding: 12px 0;
                border: none;
                border-bottom: 1px solid #efdd54;
                transition: padding 350ms linear;

                &:focus {
                    outline: none;
                    border: 1px solid #efdd54;
                    padding: 12px 6px;
                }
            }

            button {
                background-color: #efdd54;
                border-style: none;
                padding: 8px 0;
                border-radius: 8px;
                width: 100px;
                margin: 28px 0 0;
                cursor: pointer;

            }

        }

        .account-actions {
            margin-top: 12px;

            button {
                margin-bottom: 18px;
                display: block;
                background: transparent;
                border: none;
                padding: 0 0 6px;
                border-bottom: 1px solid #d8d5d5;
                cursor: pointer;
                font-size: 18px;
                transition: border-bottom 350ms linear;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #000;

                }

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .profile-container {
        padding: 70px 36px 70px;
        display: flex;
        flex-wrap: wrap;

        h1 {
            font-size: 28px;
        }

        .profile-actions {
            width: 30%;

            .welcome {
                p {
                    font-size: 20px;
                    font-weight: 300;

                }
            }

            .action-btns {
                p {
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        border-bottom: 1px solid transparent;
                        font-weight: 300;

                        &:hover {
                            border-bottom: 1px solid #efdd54;
                            ;
                        }
                    }
                }
            }
        }

        .user-info-container {
            padding: 19px 0 0 100px;
            width: 45%;

            .user-info-empty, .show-errors-wrapper{  
                 p{
                    font-size: 16.8px;

                 }
            }
    
            .account-actions {
                button {
                    &:hover {
                        border-bottom: 1px solid #efdd54;
                    }
                }
            }
        }
    }
}