.my-page-container{
    padding: 70px 12px 0;

    h1{
        font-size: 34px;
        text-align: center;
        
    }

    .user-metadata{

        h3{
            font-size: 24px;
            padding: 16px 0;
        }
        
        p{
            font-size: 24px;
            margin: 12px 0;

        }
    }

    .admin-actions{

        p{

        }

        a{
            text-decoration: none;
            color: black;
            font-size: 24px;
            margin-right: 34px;
            margin-bottom: 24px;
            


        }

    }
    
}